@value redColor, blueColor, greenColor from "../styles/variables.module.css";

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  outline: 2px solid blueColor;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header:hover {
  background-color: yellow;
}

.header.red:hover {
  background-color: red;
}

.title {
  composes: heading2Xl from "../styles/utils.module.css";
}

.title.red:hover {
  background-color: red;
}

.backToHome {
  margin: 3rem 0 0;
}
